// Base Color Pallete
$color-primary: #648399;
$color-dark: #2a3e4d;
$color-light: #accee5;
$color-secondary: #4d3b22;
$color-tertiary: #998363;

// White
$color-white: #ffffff;
$color-warm-white: #f2efe4;

// Black
$color-black: #000000;
$color-warm-black: #1a1a1a;