.contact-info {
  padding: 3rem 10%;
  max-width: 1440px;
  width: 100%;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    background-color: $color-primary;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: 100%;
    z-index: -1;
  }

  // Add responsive styles for smaller devices
  @include tablet() {
    padding: 2rem 50px;
  }

  @include mobile() {
    padding: 1rem 30px;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include tablet() {
      grid-template-columns: 1fr;
    }

    @include mobile() {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    &__item {
      max-width: 100%;
    }
  }

  &__description {
    margin-bottom: 3rem;
    font-size: 1.5rem;

    @include tablet() {
      text-align: left;
    }
    @include mobile() {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    li {
      display: flex;
      gap: 1rem;
    }

    a {
      width: fit-content;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;

    &:hover {
      svg {
        @include bounceRight(1s);
      }
    }

    @include tablet() {
      margin-left: 0;
    }
    @include mobile() {
      margin-left: 0;
    }

    a {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin-left: auto;
    }

    svg {
      margin-left: 0.5rem;
      margin-bottom: 0.2rem;
    }
  }
}
