.mobile-nav-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: $mobile-menu-width;
  top: 0;
  right: 0;
  z-index: 10;

	@include desktop {
		display: none;
	}

  .mobile-menu-items {
    padding: 3rem;
    border-radius: 0px 0 0px 10px;
    box-shadow: 5px 10px 10px 0px $color-warm-black-20;
    background-color: $color-primary-dark-80;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: -$navbar-height;
    position: relative;
    z-index: -1;
    @include slideLeft(-$mobile-menu-width, 0.3s);

    .mobile-menu-item {
      text-align: center;

      &:hover {
        filter: drop-shadow(0px 0px 5px #000);
      }
    }
  }
}
