.navbar {
  display: flex;
  width: 100vw;
  height: $navbar-height;
  z-index: 10;
  position: fixed;
	transition: background-color 0.3s ease-out;

  &.overlaping {
    background-color: $color-primary-dark-40;
  }

  .logo {
    padding: 5px 10px;
    font-size: 20px;
    cursor: default;
  }

  .nav-menu {
    display: flex;
    margin-left: auto;

    .mobile-menu-items {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-right: 20px;
    }

    &--mobile {
      @include slideLeft(-$mobile-menu-width, 0.3s);

      width: $mobile-menu-width;
      position: absolute;
      top: 0;
      padding: 3rem;
      background-color: $color-primary-dark-80;
      z-index: -1;
      border-radius: 0px 0 0px 10px;
      box-shadow: 5px 10px 10px 0px $color-warm-black-20;

      .mobile-menu-items {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .mobile-menu-item {
          text-align: center;

          &:hover {
            filter: drop-shadow(0px 0px 5px #000);
          }
        }
      }
    }
  }
}
