$navbar-height: 40px;
$mobile-menu-width: 120px;

.navbar {
  display: flex;
  position: relative;
  width: 100vw;
  height: $navbar-height;
}

.logo {
  padding: 5px 10px;
  font-size: 20px;
}

.nav-menu {
  display: flex;
  margin-left: auto;

  .mobile-menu-items {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
  }

  &--mobile {
    @include slideLeft(-$mobile-menu-width, 0.3s);

    width: $mobile-menu-width;
    position: absolute;
    top: $navbar-height;
    padding: 10px 20px;

    .mobile-menu-items {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .mobile-menu-item {
        text-align: center;

        &:hover {
          filter: drop-shadow(0px 0px 5px #000);
        }
      }
    }
  }
}
