.skills {
  padding: 3rem 10%;
  max-width: 1440px;
  width: 100%;

  &__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
		gap: .1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: $color-primary;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s;

    &:hover {
      background-color: $color-primary-40;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 1rem;

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__name {
    font-size: 1.5rem;
    pointer-events: none;
  }

  &__description {
    font-size: 1.5rem;
    margin-left: auto;
  }
}
