.App {
  text-align: center;
}

a {
  transition: 0.5s;
}

body {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1.5px; 
  background: url("./images/light_honeycomb.png")
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: #111111;
  text-decoration: none;
  margin-top: 3rem;
}

/* Styling Classes */
.openSans {
  font-family: 'Open Sans', sans-serif;
}

.padding {
  padding: 1rem 20% 0rem 20%;
}

.noPadding {
  padding: 0;
}

.whiteText{
  color: lightgray;
}

/* On Hovers */
.onHoverTextToBlue, h2 {
  transition: 0.3s;
}

.onHoverTextToBlue:hover, h2:hover, a {
  color: rgb(35, 166, 209);
}

.onHoverPointer:hover {
  cursor: pointer;
}

/* Components */
.card {
  margin: 2rem 0rem 2rem 0rem;
  background: none;
  border: none;
  text-align: center;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

.social > li {
  display: inline-block;
  margin: 0 5px;
}

.headerImg {
  z-index: -1;
  height: 100vh;
  grid-column: 1;
  grid-row: 1;
}

.jumbotron {
  text-align: center;
  letter-spacing: 0.5rem;
  padding: 22%;
  transition: 1s;
  font-size: 6vw;
}

.jumbotronSecondary {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  font-size: 2vw;
}

.navbar {
  opacity: 0.7;
}

.card-img-top {
  border-radius: 5px;
  box-shadow: 0px 0px 10px;
}

/* Ids */
#imgKeith {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  transition: 1s;
}

/* Animation */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.social {
  padding-left: 0;
}